html,
body {
	overflow: hidden;
	@apply bg-gray-900 cursor-default;
	overscroll-behavior-x: none;
}

body {
	font-family:
		"Outfit Variable", system-ui, -apple-system, "Segoe UI", Roboto, Helvetica,
		Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}
