@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
	.list-group-item {
		@apply select-none block w-full border border-solid bg-black border-white border-opacity-50 pointer-events-auto cursor-pointer;
		& > div,
		& > a,
		&:not(&:has(> div), &:has(> a)) {
			@apply px-4 py-2;
		}
		&.list-group-item-small {
			@apply text-sm;
			& > div,
			& > a,
			&:not(&:has(> div), &:has(> a)) {
				@apply px-2 py-1;
			}
		}
		&.list-group-item-xs {
			@apply text-sm;
			& > div,
			& > a,
			&:not(&:has(> div), &:has(> a)) {
				@apply px-1 py-0.5;
			}
		}
		&:hover {
			@apply bg-opacity-50;
		}
		&.selected {
			@apply bg-opacity-40 bg-white;
			&.subtle {
				@apply bg-transparent shadow-inner shadow-blue-500 border-blue-500;
			}
		}
		&:disabled,
		&.disabled {
			@apply text-gray-400 pointer-events-none;
		}
		& + .list-group-item {
			@apply border-t-0;
		}
		&:first-of-type {
			@apply rounded-t-md;
		}
		&:last-of-type {
			@apply rounded-b-md;
		}
	}
}

.striped-gradient {
	background: linear-gradient(
			to bottom,
			rgba(0, 0, 0, 0.5) 0%,
			rgba(0, 0, 0, 0) 50%,
			rgba(0, 0, 0, 0.5) 100%
		),
		linear-gradient(to top, rgba(0, 0, 0, 0.75) 0%, rgba(255, 255, 255, 0) 100%);
	background-size: 5px 3px, 100%;
	background-color: oklch(0.8691 0.3248 141.96);
}

.striped-red {
	background-color: oklch(0.6558 0.2906 29.23);
}
.striped-cyan {
	background-color: oklch(0.6308 0.2171 254.09);
}
