:root {
	--neutral: theme("colors.neutral");
	--primary: theme("colors.primary");
	--secondary: theme("colors.secondary");
	--accent: theme("colors.accent");
	--info: theme("colors.info");
	--success: theme("colors.success");
	--warning: theme("colors.warning");
	--error: theme("colors.error");
	--notice: theme("colors.notice");
	--waypoint-facing: theme("colors.waypoint-facing");
	--waypoint-facing-focus: theme("colors.waypoint-facing-focus");
	--waypoint-active: theme("colors.waypoint-active");
	--waypoint-active-focus: theme("colors.waypoint-active-focus");
	--waypoint-inactive: theme("colors.waypoint-inactive");
	--waypoint-inactive-focus: theme("colors.waypoint-inactive-focus");
}

html,
body {
	overflow: hidden;
	@apply bg-gray-900 cursor-default;
	overscroll-behavior-x: none;
}

body {
	font-family:
		"Outfit Variable", system-ui, -apple-system, "Segoe UI", Roboto, Helvetica,
		Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}
button,
[role="button"] {
	cursor: url(/assets/cursors/black-default.png), default;
}

.alert {
	@apply relative flex items-center justify-between p-4 rounded-xl bg-neutral text-neutral-content bg-opacity-50;
	&::after {
		content: "";
		z-index: -1;
		@apply absolute inset-0 bg-black/80 rounded-xl;
	}
	&-sm {
		@apply p-2;
	}
	&-info {
		@apply bg-opacity-70 bg-info-focus text-info-content;
	}
	&-success {
		@apply bg-opacity-70 bg-success-focus text-success-content;
	}
	&-warning {
		@apply bg-opacity-70 bg-warning-focus text-warning-content;
	}
	&-error {
		@apply bg-opacity-70 bg-error-focus text-error-content;
	}
	&-notice {
		@apply bg-opacity-70 bg-notice-focus text-error-content;
	}
}
.badge {
	@apply bg-neutral border border-neutral text-neutral-content px-2 text-sm;
	border-radius: 1.9rem;
	&-xs {
		@apply text-xs leading-3 h-3;
		padding-left: 0.313rem;
		padding-right: 0.313rem;
	}
	&-sm {
		@apply text-xs leading-4 h-4;
		padding-left: 0.438rem;
		padding-right: 0.438rem;
	}
	&-md {
		@apply text-sm leading-5 h-5;
		padding-left: 0.563rem;
		padding-right: 0.563rem;
	}
	&-lg {
		@apply text-base leading-6 h-6;
		padding-left: 0.688rem;
		padding-right: 0.688rem;
	}
	&-primary {
		@apply bg-primary border-primary text-primary-content;
	}
	&-secondary {
		@apply bg-secondary border-secondary text-secondary-content;
	}
	&-accent {
		@apply bg-accent border-accent text-accent-content;
	}

	&-ghost {
		@apply bg-base-200 border-base-200 text-base-content;
	}

	&-outline {
		@apply bg-transparent text-base-content border-current border-opacity-50;
		&.badge-primary {
			@apply text-primary;
		}
		&.badge-secondary {
			@apply text-secondary;
		}
		&.badge-accent {
			@apply text-accent;
		}
	}

	&-info {
		@apply bg-opacity-10 bg-info border-transparent text-info;
	}
	&-success {
		@apply bg-opacity-10 bg-success border-transparent text-success;
	}
	&-warning {
		@apply bg-opacity-10 bg-warning border-transparent text-warning;
	}
	&-error {
		@apply bg-opacity-10 bg-error border-transparent text-error;
	}
}
.btn {
	&,
	&-md {
		@apply px-4 leading-loose h-10 text-base min-h-[2.5rem] rounded-lg cursor-pointer;
	}
	&-xs {
		@apply px-2 text-xs leading-relaxed h-6 min-h-6 rounded;
	}
	&-sm {
		@apply px-3 leading-8 h-8 text-sm min-h-8;
	}
	&-lg {
		@apply px-6 leading-loose h-12 text-lg min-h-12;
	}
	@apply font-semibold;
	border-width: var(--border-btn, 1px);
	&:active:hover,
	&:active:focus {
		animation: none;
	}
	&:active:hover,
	&:active:focus {
		transform: scale(var(--btn-focus-scale, 0.95));
	}

	/* default btn */
	& {
		@apply bg-neutral border-neutral text-neutral-content inline-flex select-none justify-center items-center gap-2;
		&:hover,
		&-active {
			@apply bg-neutral-focus border-neutral-focus;
		}
		&:focus-visible {
			@apply ring-2 ring-neutral;
		}
	}
	/* brand colors */
	&-primary {
		@apply bg-primary border-primary text-primary-content;
		&:hover,
		&.btn-active {
			@apply bg-primary-focus border-primary-focus;
		}
		&:focus-visible {
			@apply ring-2 ring-primary;
		}
	}
	&-secondary {
		@apply bg-secondary border-secondary text-secondary-content;
		&:hover,
		&.btn-active {
			@apply bg-secondary-focus border-secondary-focus;
		}
		&:focus-visible {
			@apply ring-2 ring-secondary;
		}
	}
	&-accent {
		@apply bg-accent border-accent text-accent-content;
		&:hover,
		&.btn-active {
			@apply bg-accent-focus border-accent-focus;
		}
		&:focus-visible {
			@apply ring-2 ring-accent;
		}
	}

	/* btn with state colors */
	&-info {
		@apply bg-info border-info text-base-200;
		&:hover,
		&.btn-active {
			@apply bg-info-focus border-info-focus;
		}
		&:focus-visible {
			@apply ring-2 ring-info;
		}
	}
	&-success {
		@apply bg-success border-success text-success-content;
		&:hover,
		&.btn-active {
			@apply bg-success-focus border-success-focus;
		}
		&:focus-visible {
			@apply ring-2 ring-success;
		}
	}
	&-warning {
		@apply bg-warning border-warning text-warning-content;
		&:hover,
		&.btn-active {
			@apply bg-warning-focus border-warning-focus text-warning-content;
		}
		&:focus-visible {
			@apply ring-2 ring-warning;
		}
	}
	&-error {
		@apply bg-error border-error text-error-content;
		&:hover,
		&.btn-active {
			@apply bg-error-focus border-error-focus;
		}
		&:focus-visible {
			@apply ring-2 ring-error;
		}
	}
	&-notice {
		@apply bg-notice border-notice text-notice-content;
		&:hover,
		&.btn-active {
			@apply bg-notice-focus border-notice-focus;
		}
		&:focus-visible {
			@apply ring-2 ring-notice;
		}
	}
	&-disabled {
		@apply bg-neutral border-neutral text-neutral-content;
		&:hover,
		&-active {
			@apply bg-neutral-focus border-neutral-focus;
		}
		&:focus-visible {
			@apply ring-2 ring-neutral;
		}
	}

	/* glass */
	&.glass {
		&:hover,
		&.btn-active {
			--glass-opacity: 25%;
			--glass-border-opacity: 15%;
		}
		&:focus-visible {
			box-shadow: 0 0 0 2px currentColor;
		}
	}

	/* btn variants */
	&-ghost {
		@apply bg-transparent text-current border border-transparent;
		&:hover,
		&.btn-active {
			@apply bg-base-content bg-opacity-20 border-opacity-0;
		}
		&:focus-visible {
			box-shadow: 0 0 0 2px currentColor;
		}
	}
	&-link {
		@apply bg-transparent border-transparent text-primary;
		&:hover,
		&.btn-active {
			@apply underline bg-transparent border-transparent;
		}
		&:focus-visible {
			box-shadow: 0 0 0 2px currentColor;
		}
	}

	/* outline */
	&-outline {
		@apply bg-black bg-opacity-50 text-base-content border-current;
		&:hover {
			@apply bg-base-content border-base-content text-base-100;
		}
		&.btn-primary {
			@apply text-primary;
			&:hover,
			&.btn-active {
				@apply bg-primary-focus text-primary-content border-primary-focus;
			}
		}
		&.btn-secondary {
			@apply text-secondary;
			&:hover,
			&.btn-active {
				@apply bg-secondary-focus text-secondary-content border-secondary-focus;
			}
		}
		&.btn-accent {
			@apply text-accent;
			&:hover,
			&.btn-active {
				@apply bg-accent-focus text-accent-content border-accent-focus;
			}
		}
		&.btn-info {
			@apply text-info;
			&:hover,
			&.btn-active {
				@apply bg-info-focus text-info-content border-info-focus;
			}
		}
		&.btn-success {
			@apply text-success;
			&:hover,
			&.btn-active {
				@apply bg-success-focus text-success-content border-success-focus;
			}
		}
		&.btn-warning {
			@apply text-warning;
			&:hover,
			&.btn-active {
				@apply bg-warning-focus text-warning-content border-warning-focus;
			}
		}
		&.btn-error {
			@apply text-error;
			&:hover,
			&.btn-active {
				@apply bg-error-focus text-error-content border-error-focus;
			}
		}
		&.btn-notice {
			@apply text-notice;
			&:hover,
			&.btn-active {
				@apply bg-notice-focus text-notice-content border-notice-focus;
			}
		}
	}

	/* disabled */
	&-disabled,
	&[disabled] {
		@apply bg-neutral border-opacity-0 bg-opacity-20 text-base-300 text-opacity-20 opacity-50 pointer-events-none cursor-not-allowed;
	}

	/* loading */
	&.loading {
		&.btn-square:before,
		&.btn-circle:before {
			@apply mr-0;
		}
		&.btn-xl:before,
		&.btn-lg:before {
			@apply h-5 w-5;
		}
		&.btn-sm:before,
		&.btn-xs:before {
			@apply h-3 w-3;
		}
		&,
		&:hover {
			@apply pointer-events-none;
		}
		&:before {
			@apply h-4 w-4 rounded-full mr-2 border-2;
			animation: spin 2s linear infinite;
			content: "";
			border-top-color: transparent;
			border-left-color: transparent;
			border-bottom-color: currentColor;
			border-right-color: currentColor;
		}
	}
}
@container (min-width: 42rem) {
	.\@2xl\:btn-md {
		@apply px-4 leading-loose h-10 text-base min-h-[2.5rem];
	}
}
@media (prefers-reduced-motion: reduce) {
	.btn.loading:before {
		animation: spin 10s linear infinite;
	}
}
@keyframes spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}
.btn-group {
	& > .btn:not(:first-child) {
		@apply rounded-l-none -ml-px;
	}
	& > .btn:not(:last-child) {
		@apply rounded-r-none;
	}

	& > .btn:not(:first-child) {
		@apply rounded-l-none -ml-px;
	}
	& > .btn:not(:last-child) {
		@apply rounded-r-none;
	}
}

@keyframes button-pop {
	0% {
		transform: scale(var(--btn-focus-scale, 0.95));
	}
	40% {
		transform: scale(1.02);
	}
	100% {
		transform: scale(1);
	}
}

input[type="checkbox"],
label,
a,
button {
	@apply cursor-pointer;
}

.select {
	@apply bg-neutral border-neutral text-neutral-content;
	&:hover,
	&-active {
		@apply bg-neutral-focus border-neutral-focus;
	}
	&:focus-visible {
		@apply ring-2 ring-neutral;
	}
	@apply border transition duration-200 ease-in-out rounded-lg font-semibold border-opacity-0 pr-10;
	&-bordered {
		@apply border-opacity-20;
	}
	background-image:
		linear-gradient(45deg, transparent 50%, currentColor 50%),
		linear-gradient(135deg, currentColor 50%, transparent 50%);
	background-position:
		calc(100% - 20px) calc(1px + 50%),
		calc(100% - 16px) calc(1px + 50%);
	background-size:
		4px 4px,
		4px 4px;
	background-repeat: no-repeat;
	&:focus {
		box-shadow:
			0 0 0 2px hsl(var(--b1)),
			0 0 0 4px hsla(var(--bc) / 0.2);
	}
	&-ghost {
		@apply bg-opacity-5;
		&:focus {
			@apply bg-opacity-100 text-base-content;
		}
	}
	&-primary {
		@apply border-primary;
		&:focus {
			box-shadow:
				0 0 0 2px hsl(var(--b1)),
				0 0 0 4px hsl(var(--p));
		}
	}
	&-secondary {
		@apply border-secondary;
		&:focus {
			box-shadow:
				0 0 0 2px hsl(var(--b1)),
				0 0 0 4px hsl(var(--s));
		}
	}
	&-accent {
		@apply border-accent;
		&:focus {
			box-shadow:
				0 0 0 2px hsl(var(--b1)),
				0 0 0 4px hsl(var(--a));
		}
	}
	&-info {
		@apply border-info;
		&:focus {
			box-shadow:
				0 0 0 2px hsl(var(--b1)),
				0 0 0 4px hsl(var(--in));
		}
	}
	&-success {
		@apply border-success;
		&:focus {
			box-shadow:
				0 0 0 2px hsl(var(--b1)),
				0 0 0 4px hsl(var(--su));
		}
	}
	&-warning {
		@apply border-warning;
		&:focus {
			box-shadow:
				0 0 0 2px hsl(var(--b1)),
				0 0 0 4px hsl(var(--wa));
		}
	}
	&-error {
		@apply border-error;
		&:focus {
			box-shadow:
				0 0 0 2px hsl(var(--b1)),
				0 0 0 4px hsl(var(--er));
		}
	}
	&-disabled,
	&[disabled] {
		@apply cursor-not-allowed bg-base-200 border-base-200 text-opacity-20 placeholder-base-content placeholder-opacity-20;
	}
}

input,
textarea {
	@apply cursor-text;
}
