@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --neutral: theme("colors.neutral");
  --primary: theme("colors.primary");
  --secondary: theme("colors.secondary");
  --accent: theme("colors.accent");
  --info: theme("colors.info");
  --success: theme("colors.success");
  --warning: theme("colors.warning");
  --error: theme("colors.error");
  --alert: theme("colors.alert");
}

html,
body {
  overflow: hidden;
  @apply bg-gray-900;
}
