{
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:react-hooks/recommended",
    "plugin:jsx-a11y/recommended"
  ],
  "settings": {
    "react": {
      "version": "16.13.1"
    }
  },
  "overrides": [
    {
      "files": ["**/client/**"],
      "settings": {
        "import/resolver": "parcel"
      }
    },
    {
      "files": ["**/server/**"],
      "settings": {
        "import/resolver": "typescript"
      }
    },
    {
      "files": ["**/__tests__/**", "*.test.*"],
      "settings": {
        "import/resolver": {
          "jest": {
            "jestConfigFile": "./jest.config.js"
          }
        }
      }
    }
  ],
  "env": {
    "browser": true,
    "jest": true,
    "es6": true
  },
  "parserOptions": {
    "sourceType": "module",
    "allowImportExportEverywhere": true
  },
  "ignorePatterns": ["dist"]
}
